.card{
    margin-top: 50px;
    margin:0;
}
.record{
    height: 100%;
    width: 100%;
}
.record h3{
    margin:0; 
    padding:0;
    text-align: center;
}
.record-container{
    margin-bottom: 120px;
}
.userName{
    border: 1px solid #4f4a81;
    color: #4f4a81;
    width: fit-content;
    padding:10px;
    border-radius: 10px;
    margin-left:45%;
    cursor: pointer;
    transition: background-color 0.05s ease, color 0.05s ease;
    margin-bottom: 3rem;
}
.userName:hover{
    background-color: #4f4a81;
    color: white;
}
table {
    background-color: #eeeeee;
    width: fit-content;
    padding:0; 
    margin:0;
}
table,tr,td,th{
    border: 3px solid white;
    border-collapse: collapse;
}
th,td{
    text-align: left;
    padding:10px 10px;
}
.record{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
    row-gap: 25px;
    margin-left: 10px;
    margin-bottom: 80px;
}